section
    section
        img.ds_logo(src="static/images/react.svg")

    section
        .row.illustration
            img(style="height: 25%;", src="static/images/html-logo.png")
            i.fa.fa-long-arrow-right(style="color: white; font-size: 94px; margin-left: 45px;")
                | &nbsp;
            img(style="height: 45%;" src="static/images/js-logo.png")

    section
        h2 More syntax!

    section
        pre.flat.fragment.current-visible(data-fragment-index=1)
            code.
                import React from 'react'
        pre.flat.fragment.current-visible(data-fragment-index=1)
            code.
                import ReactDom from 'react-dom'
        pre.flat
            code.


                // the hello world of react components
                const MyElement = () => (
                    &lt;div&gt;
                        hello world!
                    &lt;/div&gt;
                )
        span(style="display:flex; margin-top: 32px")
            pre.flat.fragment.fade-out(data-fragment-index=1)
                code.
                    // rendered with &lt;MyElement /&gt;
        span(style="display:flex; margin-top: -31px")
            pre.flat.fragment.current-visible(data-fragment-index=1)
                code.
                    // render over a specific element
                    ReactDom.render(&lt;MyElement /&gt, document.getElementById('app'))
        span(style="display:flex; margin-top: -61px")
            pre.flat.fragment(data-fragment-index=2)
                code.
                    // rendered with &lt;MyElement /&gt;
    section
        h3 inline expressions
        pre
            code.javascript.
                import React from 'react'

                const MyElement = ({name}) => (
                    &lt;div&gt;
                        Hello {name}!
                    &lt;/div&gt;
                )

                // rendered with &lt;MyElement name="John" /&gt;

    section(data-background-image="http://i.giphy.com/10fdsa6b79iBDq.gif")

    section
        h3 using map in jsx
        pre
            code.javascript.
                import React from 'react'

                const NumberList = (numbers) =&gt; (
                    &lt;ul&gt;
                        { numbers.map(number =&gt; (
                            &lt;li&gt;
                                {number}
                            &lt;/li&gt;
                        ))}
                    &lt;/ul&gt;
                )

                // rendered with &lt;MyElement numbers={[1,2,3]} /&gt;

    section
        h3 putting it all together

    section
        pre.flat(style="margin-bottom: 45px")
            code.javascript.
                const calendarItems = [
                    {name: 'Give Talk', date: '6/15/2016'},
                    {name: 'Give Another Talk', date: '6/22/2016'},
                ]
        pre.flat.fragment(data-fragment-index=1)
            code.javascript.
                const Calendar = ({items}) =&gt; (
                    &lt;div&gt;
                        {items.map(item =&gt; (
                            &lt;CalendarItem {...item}/&gt;
                        ))}
                    &lt;/div&gt;
                )
                const CalendarItem = ({name, date}) => (
                    &lt;div&gt;
                        &lt;div&gt; {name} &lt;/div&gt;
                        &lt;div&gt; {date} &lt;/div&gt;
                    &lt;/div&gt;
                )
