section
    section
        h2 Syntax
    section
        img(src="static/images/es6.jpg")
    section(style="display: flex;")
        h3 Variable Declaration
        .row
            pre.flat
                code.
                    // hoisted, functionally scoped
                    var asdf = 'asdf'
        .row.fragment(data-fragment-index=1)
            pre.flat
                code.
                    // cannot be re-declared, block scoped
                    let foo = 'bar'
                    // cannot be changed (sometimes), block scoped
                    const bar = 'baz'
    section
        h3 Better Mental Model
        pre
            code.
                // cannot be re-declared
                let foo = 'bar'
                // cannot be changed (sometimes)
                const bar = 'baz'

    section
        h3 Functions
        div
            .row
                .column
                    pre(style="padding-right: 0")
                        code.javascript.
                            // does this act like a var, let,
                            // or const?
                            function myFunc(name) {
                                return 'Hello ' + name
                            }
                .column.fragment(data-fragment-index=1)
                    pre(style="width: 95%;")
                        code.javascript(data-noescape).

                            // now we can decide!
                            const myNewFunc = (name) => (
                                'Hello ' + name
                            )

                            // sometimes implicit returns are bad
                            const myNewestFunc = (name) => {
                                return 'Hello ' + name
                            }
    section
        h3 destructuring
        .row
            .column
                pre
                    code.javascript.
                        var data = {'foo': 'bar'}
                        // grab the foo entry
                        var foo = data.foo

                pre
                    code.javascript.
                        function myFunc(args) {
                            console.log(args.foo)
                        }
                        myFunc({foo: 'bar'})

            .column.fragment(data-fragment-index=1)
                pre
                    code.javascript.
                        const data = {'foo': 'bar'}
                        // grab the foo entry
                        const {foo} = data

                pre
                    code.javascript.
                        function myFunc({foo}) {
                            console.log(foo)
                        }
                        myFunc({foo: 'bar'})

    section
        h3 spread
        .row
            .column(style="padding-top: 50px;")
                pre.flat
                    code.javascript.
                        var mockData = {
                            foo: 'bar',
                        }
                pre.flat.fragment(data-fragment-index=1)
                    code.
                        var newObject = Object.assign({},
                            mockData,
                            {
                                'bar': 'baz'
                            }
                        )
            .column.fragment(data-fragment-index=2)
                pre
                    code.javascript.
                        const mockData = {
                            foo: 'bar',
                        }

                        const newObj = {
                            ...mockData,
                            'bar': 'baz',
                        }
